.hero {
	width: 100%;
	padding: 26px 36px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero--image {
	width: 395.91px;
}
.hero--text {
	width: 100%;
	padding-top: 32px;
}
.hero--text_title {
	font-weight: 600;
	font-size: 36px;
}
.hero--text_subtitle {
	padding-top: 16px;
	max-width: 320px;
	font-weight: 300;
}
